* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: quicksand, sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    width: 80rem;
    height: 50rem;
    background-color: #eee;
    border-radius: 3rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
}

.banner {
    position: absolute;
    top: 20%;
    left: -30rem;
    text-align: center;
    width: 25rem;
    z-index: 50;
    transition: left 1.5s ease-in-out;
}

.banner h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.banner p {
    font-size: 1.5rem;
}

.green-bg {
    width: 40%;
    height: 100%;
    background: linear-gradient(to right, #3ab19b, #4cbf91);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3rem 0 0 3rem;
    z-index: 10;
    width: 100%;
    transition: width 1.5s ease-in-out;
}

.container.change .banner {
    left: 5rem;
}



.container.change .green-bg {
    width: 40%;
}

.green-bg button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    width: 12rem;
    height: 4rem;
    border: .1rem solid white;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-radius: 2rem;
    color: #fff;
}

.signup-form {
    width: 48rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0;
    transition: left 1.5s ease-in-out;
}

.container.change .signup-form {
    left: 30rem;
}


.signup-form h1 {
    font-size: 4rem;
    color: #33af9f;
}

.social-media {
    display: flex;
    justify-content: space-between;
}

.social-media i {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid #777;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 2rem;
    margin-right: 2rem;
    color: #555;
}

.signup-form p {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 2rem;
}

.input-group {
    position: relative;
}

.input-group input {
    margin-bottom: 1rem;
    width: 25rem;
    height: 4rem;
    padding-inline: 3rem;
    background-color: #ddd;
    border: none;
    border-radius: 0.5rem;
}

.input-group i {
    position: absolute;
    top: 30%;
    left: 1rem;
}

.signup-form button {
    border: 0.1rem solid white;
    width: 12rem;
    height: 4rem;
    text-transform: uppercase;
    background-color: #3ab19b;
    color: white;
    letter-spacing: .1rem;
    border-radius: 2rem;
    cursor: pointer;
}

